/* All-Screen-Styles*/
.root {
    -fx-font-size: 12px;
}

/* Login-Screen-Styles*/
.parentAnchorPane {
    -fx-background-color: linear-gradient(to right, #2000bb, #1827c6, #153ed0, #1b51d9, #2963e0, #1774e8, #1185ed, #2294f1, #24a6f4, #3db7f5, #5cc6f5, #7cd5f4);
    -fx-background-size: cover;

}

.loginBox {
    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/Fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/Fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

.heading {
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
    /*-fx-font-size: 2.5em;*/
}

.icon {
    /*    Icon Color #97CBFF*/
}

.loginTextBox {
    -fx-font-family: "Montserrat";
    -fx-font-style: oblique;
    -fx-font-size: 1.15em;
    -fx-border-color: #97CBFF;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-text-fill: #24a6f4;
    -fx-prompt-text-fill: #2294f1;
}

.loginButton {
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: #1185ed;
    -fx-font-size: 1.8em;
}

.loginButton:hover {
    -fx-background-color: #24a6f4;
}

.loginButton:pressed {
    -fx-translate-y: 5;
    -fx-effect: none;
}

.imageBorderPane {
    -fx-background-image: url("/chat.png");
    -fx-background-position: bottom;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.lockImageContainer {
    -fx-background-image: url("/lock.png");
}

.usernameImageContainer {
    -fx-background-image: url("/user1.png");
}

.lockImageContainer, .usernameImageContainer {
    -fx-background-position: right;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

#LoginRoot {
    /*Main entry into the login page */
    -fx-background-color: #FFF;
}

/*Styles for the Calender-View*/
#CalendarRoot {
    /*Main Entry point into the Calender page*/
}

.CalendarTextBox {
    -fx-font-family: "Montserrat";
    -fx-font-style: oblique;
    -fx-font-size: 1.1em;
    -fx-border-color: #97CBFF;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-text-fill: #24a6f4;

    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-background-radius: 12;

}

.greyedOut-Panes, .regularPanes {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-start-margin: 10;
    -fx-background-insets: 1;
    -fx-border-color: black;
}

.greyedOut-Panes {
    -fx-background-color: lightgrey;

}

.regularPanes {
    -fx-background-color: lightblue;
}

.month-label {
    -fx-fill: white;
    -fx-stroke: grey;
    -fx-stroke-width: .2;
    -fx-font-size: 24px;
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
}

.center-Heading {
    /*-fx-background-color: red;*/
}

.appointment-List {
    -fx-background-size: cover;
    -fx-border-radius: 5;
}

.days-Heading {
    -fx-fill: #4185c9;
    -fx-stroke: grey;
    -fx-stroke-width: .1;
    -fx-font-family: "Roboto-Bold";
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.calendarButton {
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: #1185ed;
    -fx-font-size: 1.2em;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.calendarButton:hover {
    -fx-background-color: #24a6f4;
}

.calendarButton:pressed {
    -fx-translate-y: 5;
    -fx-effect: none;
}

.radio-button {
    -fx-text-fill: white;
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
    -fx-stroke-width: 2;
    -fx-border-radius: 5;
}

.button-holder{
    /*-fx-background-color: green;*/
    -fx-font-size: 1.2em
}

.menuBar {
    -fx-font-size: 1.25em
}

.MenuItem {
    -fx-font-size: 1.05em;
}
