/* All-Screen-Styles*/
.root {
    -fx-font-size: 12px;
}

/* Login-Screen-Styles*/
.parentAnchorPane {
    /*-fx-background-color: linear-gradient(to right, #2000bb, #1827c6, #153ed0, #1b51d9, #2963e0, #1774e8, #1185ed, #2294f1, #24a6f4, #3db7f5, #5cc6f5, #7cd5f4);*/
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.loginBox {
    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.roundedCornerLarge {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.rounderCornerSmall {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.borders {
        -fx-border-color: black;
        -fx-border-width: 1;
}

.textStroke {
        -fx-stroke: black;
        -fx-stroke-width: .5px;
}

.tealBackground {
 -fx-background-color: #00a4b3
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/Fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/Fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

.bigFont {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.boldFont {
    -fx-font-weight: bold;
}

.subheaderFont {
    -fx-font-size: 18px;
}

.heading {
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
}

.icon {
    /*    Icon Color #97CBFF*/
}

.robotoMedium {
    -fx-font-family: "Roboto Medium"
}

.loginTextBox {
    -fx-font-family: "Montserrat";
    -fx-font-style: oblique;
    -fx-font-size: 1.1em;
    -fx-border-color: #97CBFF;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-text-fill: #24a6f4;
    -fx-prompt-text-fill: #2294f1;
}

.loginButton {
    -fx-font-family: "Roboto-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: #1185ed;
    -fx-font-size: 1.8em;
}

.loginButton:hover {
    -fx-background-color: #24a6f4;
}

.loginButton:pressed {
    -fx-translate-y: 5;
    -fx-effect: none;
}

.imageBorderPane {
    -fx-background-image: url("/Images/chat.png");
    -fx-background-position: bottom;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.lockImageContainer {
    -fx-background-image: url("/Images/lock.png");
}

.usernameImageContainer {
    -fx-background-image: url("/Images/user1.png");
}

.lockImageContainer, .usernameImageContainer {
    -fx-background-position: right;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

#LoginRoot {
    /*Main entry into the login page */
    -fx-background-color: #FFF;
}

.regionCodeBox, .zoneIdBox {
    -fx-font-family: "Montserrat";
        -fx-font-size: 1.1em;
        -fx-border-color: grey;
        -fx-border-width: 1;
        -fx-font-weight: bold;
        -fx-background-color: #FBFCFB;
         -fx-border-radius: 4;
         -fx-background-radius: 4;
}

.montserrat {
    -fx-font-family: "Montserrat";
}

.regionCodeText {
     -fx-text-fill: red;
}
